ICM_TOOL1/Web References/localhost/mailProcessing.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReadMailItems">
        <s:complexType />
      </s:element>
      <s:element name="ReadMailItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadMailItemsResult" type="tns:ArrayOfIcmDataMail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIcmDataMail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="icmDataMail" nillable="true" type="tns:icmDataMail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="icmDataMail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="From" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="To" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadMailItemsSoapIn">
    <wsdl:part name="parameters" element="tns:ReadMailItems" />
  </wsdl:message>
  <wsdl:message name="ReadMailItemsSoapOut">
    <wsdl:part name="parameters" element="tns:ReadMailItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="mailProcessingSoap">
    <wsdl:operation name="ReadMailItems">
      <wsdl:input message="tns:ReadMailItemsSoapIn" />
      <wsdl:output message="tns:ReadMailItemsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="mailProcessingSoap" type="tns:mailProcessingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadMailItems">
      <soap:operation soapAction="http://tempuri.org/ReadMailItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="mailProcessingSoap12" type="tns:mailProcessingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadMailItems">
      <soap12:operation soapAction="http://tempuri.org/ReadMailItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="mailProcessing">
    <wsdl:port name="mailProcessingSoap" binding="tns:mailProcessingSoap">
      <soap:address location="https://localhost:44383/mailProcessing.asmx" />
    </wsdl:port>
    <wsdl:port name="mailProcessingSoap12" binding="tns:mailProcessingSoap12">
      <soap12:address location="https://localhost:44383/mailProcessing.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>